:root {
    --ludlit-woo--tribe-events--radius--list: 10px;
    --ludlit-woo--tribe-events--radius--single: 20px;
    --tec-font-family-sans-serif: var(--ludlit-wc-sans-font-family);
}

.ludlit-woo-theme .tribe-events-calendar-list__event-featured-image {
    border-radius: var(--ludlit-woo--tribe-events--radius--list);
}

.ludlit-woo-theme.single-tribe_events .tribe-events-event-image > img {
    border-radius: var(--ludlit-woo--tribe-events--radius--single);
}

.ludlit-woo-theme .tribe-events-calendar-list__event-featured-image-wrapper {
    order: 1; /* featured image on the left in list view? */
}