/*
 * new ludlit styles in addition to theme.json 
 * and the styles from the ludlit-woo-plugin
 */

.ludlit_wc_is_flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.page-template-front-page-block-parts p + p,
.page-template-front-page-block-parts p
 {
    text-indent: 0;
}

.page-template-front-page-block-parts section {
    border-bottom: 1px solid black;
    padding-bottom: var(--wp--preset--spacing--60);
}

.page-template-front-page-block-parts section:last-child {
    border-bottom: none;
}

.page-template-front-page-block-parts div.ludlit_wc.ludlit_wc_custom_products {
    margin: var(--wp--preset--spacing--70) 0;
}


.ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts, 
.ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;;
}

.ludlit_wc_post_meta {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: var(--wp--preset--spacing--30);
}

.ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts li.product > a:first-child, 
.ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts li.product > a:first-child {
    aspect-ratio: 16 / 9;
    border-radius: 12px;
}

.ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts li.product img, 
.ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts li.product img {
    box-shadow: none;
}

.ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts li.product.ludlit_wc_post_is_cat_kritika-komentar img, 
.ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts li.product.ludlit_wc_post_is_cat_kritika-komentar img {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
}

.ludlit_wc.woocommerce ul.products li.product .ludlit_wc_product_image_wrapper.has_main_author_image img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 100%;
}


.ludlit_wc.woocommerce ul.products li.product .ludlit_wc_product_image_wrapper.ludlit_wc_has_featured_img.ludlit_wc_is_landscape_image,
.ludlit_wc.woocommerce ul.products li.product .ludlit_wc_product_image_wrapper.has_featured_image.ludlit_wc_is_landscape_image {
    padding: 0;
}

.ludlit_wc.woocommerce ul.products li.product .ludlit_wc_product_image_wrapper.ludlit_wc_has_featured_img.ludlit_wc_is_landscape_image img,
.ludlit_wc.woocommerce ul.products li.product .ludlit_wc_product_image_wrapper.has_featured_image.ludlit_wc_is_landscape_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ludlit_wc_product_description .ludlit_wc_post_categories,
.ludlit_wc_product_description .ludlit_wc_post_date
{
    color: var(--ludlit-wc-gray-3);
}

.ludlit_wc_product_description h4 {
    font-size: var(--wp--preset--font-size--large);
    line-height: var(--wp--custom--line-height--heading);
    margin-bottom: 0;
}

.ludlit_wc_product_description h4 + .ludlit_wc_subtitle {
    margin-top: var(--wp--preset--spacing--30);
}

.ludlit_wc_post_excerpt {
    margin-top: var(--wp--preset--spacing--50);
    margin-bottom: var(--wp--preset--spacing--30);
    font-size: var(--wp--preset--font-size--medium);
}

.ludlit_wc_subtitle + .ludlit_wc_post_excerpt {
    margin-top: var(--wp--preset--spacing--50);
}

.ludlit_wc_subtitle {
    font-size: var(--wp--preset--font-size--normal);
    color: var(--ludlit-wc-gray-4);
}

.ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts li.product a .ludlit_wc_product_image_wrapper,
.ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts li.product a .ludlit_wc_product_image_wrapper {
    border-radius: 12px; /* repeat this because of added background for front */
}


/*
new header menus
*/

.theme-ludlit-woo-theme nav.sekundarni-meni .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container {
    display: flex;
    flex-direction: row;
}

.theme-ludlit-woo-theme nav.sekundarni-meni .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container .wp-block-navigation__submenu-container
{
    margin: 1rem 0 0 0;
    padding: 0;
}
.theme-ludlit-woo-theme nav.sekundarni-meni .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container .wp-block-navigation__submenu-container .wp-block-navigation-item {
    margin: 1rem 0 0 0;
}

/* end header menus */


/* media queries */
@media (min-width: 1500px) {
    .ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts, 
    .ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;;
    }
}
@media (max-width: 1499px) {
    .ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts, 
    .ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;;
    }
}

@media (max-width: 800px) {
    .ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts, 
    .ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 4rem;;
    }
}

@media (max-width: 500px) {
    .ludlit_wc.woocommerce ul.products.ludlit_wc_recent_posts li.product > a:first-child, 
    .ludlit_wc .woocommerce ul.products.ludlit_wc_recent_posts li.product > a:first-child {
        aspect-ratio: 5 / 4;
    }
}